@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url('../assets/Fonts/ClashDisplay/css/clash-display.css');

*{
box-sizing: border-box;  /*Important instruction for navbar to respect parent bounds*/
font-family: 'ClashDisplay-Variable', system-ui, -apple-system;
}

:root{
  font-variation-settings: "wght" 500;
  color-scheme: light dark;
  color: var(--white);
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --primary: #EA1601;
  --secondary: #050304;
  --complementary: #FF5733;

  --white: #fff;
  --greyA: #333333;
  --greyD: #CAC7D1;
  --greyE: #D9D9D9;

  --success: #56C20A;
  --warning: #CBAA01;
  --info: #0276CA;
  --error: #CC1402;
  --transparent: transparent;
}

body{
  margin: 0;
  padding-right: .65rem;
  padding-left: .65rem;
}

#root {
  margin: 0;
  max-width: 100%;
  text-align: center;
}